<html>
    <head>
        <title>Movie Details</title>
        <link rel="stylesheet" href="/css/details.css">
    </head>
    <body>
        <h1 id="pageTitle">Movie Details</h1>
        <div id="content">
            <div id="poster">
                <img src={{posterURL}}>
            </div>
            <div id="details">
                <h1>{{title}}</h1>
                <strong>Genre: {{genre}}</strong>
                <p>{{description}}</p>
            </div>
        </div>

    </body>
</html>