<html>
    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Registration</h1>
        <form method='POST' action='register/sign-up'>
            <input type="text" name="userName" placeholder="Enter a Username" required>
            <input type="password" name="password" placeholder="Enter a Password" required>
            <button>Register</button>
        </form>
    </body>
</html>