<html>
    <head>
        <title>Trips Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/trips.css">
    </head>

    <body>
        <h1 id="pageTitle">Destination Station!</h1>

        <form method="POST" action="trips/sign-out" class="signout">
            <button>Log Out</button>
        </form>

        <form method="POST" action="trips/add-trip" class="container">
        <input type="text" name="cityName" placeholder="Enter Destination">
        <input type="text" name="image" placeholder="Enter Image Url">
        <label for="departureDate">Departure Date: </label>
        <input type="date" name="departureDate">
        <label for="returnDate">Return Date: </label>
        <input type="date" name="returnDate">
        <button>Add Trip</button>
        </form>

        

        <ul>
        <h2>Planned Trips</h2>
        {{#allTrips}} <!-- STARTS THE LOOP -->
        <li>
            <form method="POST" action="trips/delete-trip" class="tripContainer">
            <b>{{title}}: </b><p>{{departureDate}} - {{returnDate}}</p>
            <img src={{imageURL}} width=500px/>
            <input type="hidden" name="tripId" value={{tripId}}>
            <button>Delete</button>
            </form>
        </li>
        {{/allTrips}} <!-- END LOOP-->
        </ul>
    </body>
</html>